{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center">Add Completed Courses</h1>
                    <h2 class="card-subtitle mb-4 text-center">Courses Taken</h2>
                    <form action="/" method="post">
                        <div id="section-container">
                            <div class="mb-3 section">
                                <label for="items1" class="form-label">Choose a course:</label>
                                <select name="items1" class="form-select">
                                    {% for option in options %}
                                    <option value="{{ option }}">{{ option }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="d-grid gap-2 mb-3">
                            <button type="button" class="btn btn-secondary" onclick="duplicateSection()">Add Course</button>
                        </div>
                        <div class="d-grid gap-2">
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
        let sectionCounter = 1;

        function duplicateSection() {
            sectionCounter++;
            let container = document.getElementById("section-container");
            let newSection = document.createElement("div");
            newSection.className = "section";
            newSection.innerHTML = `
<div class="mb-3">
    <label for="items${sectionCounter}" class="form-label">Choose a Course:</label>
    <select name="items${sectionCounter}" class="form-select">
        {% for option in options %}
            <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
    </select>
</div>

            `;
            container.appendChild(newSection);
        }
    </script>
{% endblock %}
